{{define "login"}}
<html>

<body>
    <h1>Welcome to My Bedroom Live</h1>
    <h2>Login</h2>
    {{if .}}<span style="color: #F00">{{.}}</span>{{end}}
    <form method="post" action="/login">
        <hr>
        <label for="user">User name:</label>
        <input type="text" id="user" name="user">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <hr>
        <button type="submit">Login</button>
    </form>
</body>

</html>
{{end}}
